.wrapper {
  padding: 0px 2px;
  /* color: #fefefe; */
}


.SocialsList {
  text-align: center;
  margin: 0 auto;
}

 .SocialsList ul {
	display: flex;
	padding: 0;
	list-style: none;
	/* align-items: center; */
	justify-content: center;
}

.socials-item {
  padding: 5px;
  max-height: 125px;
  align-self: center;
}
.socialsLink img {
  min-width: 20px;
  max-width: 32px;
}

.socialsLink {
  display: inline-block;
  width: auto;
  max-height: 32px;
}

.navbar ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}